In [10]:
import csv

import numpy as np
import pandas as pd
from pycaret.regression import *

In [11]:
def substitute_values(data, sorted_index, prefix, column):
    sub = 1

    # This list stores the values at which the labels were changed
    divider_list = ["USDNZD", column]

    for i, index in enumerate(sorted_index):
        if i == 33:
            sub += 1
            divider_list.append(data.at[index, column])
        if i == 66:
            sub += 1
            divider_list.append(data.at[index, column])

        data.at[index, column] = (prefix * 10) + sub

    # with open("divider_list.csv", "a", newline="") as csvfile:
    #     writer = csv.writer(csvfile)
    #     writer.writerow(divider_list)

    return data

In [12]:
data = pd.read_csv("../results/USDNZD.csv")

# Preprocessing

# Removing the first row since it is an outlier - return is 0
data = data.drop(data.index[0])

# Delete any rows with null values
data.dropna(inplace=True)

# Delete any rows with 0 Vol and 0 FD
data = data[data.vol != 0]
data = data[data.fd != 0]

# Multiply the returns column by 100000 to have a usable column
data.return_val *= 10000

# Resetting the indexes in the dataframe
data.reset_index(drop=True, inplace=True)

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:24,2,1.564595,1.562665,1.563645,0.00193,165803.108808,-8.058157
1,2022-12-02 02:50:05,3,1.563295,1.561465,1.562178,0.00183,118579.234973,-9.386630
2,2022-12-02 02:57:32,4,1.563585,1.562365,1.562896,0.00122,174590.163934,4.599151
3,2022-12-02 03:05:09,5,1.565935,1.563275,1.564799,0.00266,212781.954887,12.176223
4,2022-12-02 03:12:50,6,1.566115,1.564865,1.565463,0.00125,165600.000000,4.241603

In [13]:
# Sorting the values independently as it worked the best
volatility_array = np.array(data["vol"])
# Argsort sorts the data and returns the indexes of the sorted values from original list
sorted_index = np.argsort(volatility_array)
# Using the sorted index positions, we can replace the values for
data = substitute_values(data, sorted_index, 0, "vol")

# Do the same actions for Fractal Dimension
fd_array = np.array(data["fd"])
sorted_index = np.argsort(fd_array)
data = substitute_values(data, sorted_index, 0, "fd")

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:24,2,1.564595,1.562665,1.563645,3.0,2.0,-8.058157
1,2022-12-02 02:50:05,3,1.563295,1.561465,1.562178,2.0,1.0,-9.386630
2,2022-12-02 02:57:32,4,1.563585,1.562365,1.562896,2.0,2.0,4.599151
3,2022-12-02 03:05:09,5,1.565935,1.563275,1.564799,3.0,2.0,12.176223
4,2022-12-02 03:12:50,6,1.566115,1.564865,1.565463,2.0,2.0,4.241603

In [14]:
# Using PyCaret functions to setup the regression model trainer
regression = setup(data=data, target="return_val")

In [15]:
# Compare the best models after training on different types
best = compare_models()
best

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=2136,
      selection='cyclic', tol=0.0001, warm_start=False)

In [33]:
# Choose the best model technique and create a model
model = create_model(best)

In [34]:
# Run model tune to get a better fit
tuned_model = tune_model(model)

In [35]:
# Mark the tuned model as final and save it
model = finalize_model(tuned_model)
save_model(model, "../models/USDNZD")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['period'],
                                       ml_usecase='regression',
                                       numerical_features=[],
                                       target='return_val', time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numer...
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  Lasso(alpha=6.17, copy_X=True, fit_intercept=False,
                        max_iter=1000, normalize=False, positive=False,
                        precompute=False, random_state=2136, selection='cyclic',
                        tol=0.0001, warm_start=False)]],
          verbose=False),
 '../models/USDNZD.pkl')